html {
	font-size: 62.5%;
}
img {
	width: 100%;
	height: auto
}
body {
  color: #444;
  font-size: 1.6rem;
  font-family: 'Gentium Book Basic', serif;
  background-color: rgb(73, 70, 70);
}

body {
  background: rgb(119, 117, 117);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

nav ul {
  display: flex;
  flex-direction: row;
  padding: 1em;
  margin-top: 0;
  margin-bottom: 0;
  background-image: url("../images/leather_3.jpg"); /*-- N.B. the ../ in the file/path --*/
  background-size: 35%;
}

 /*--
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  background-color: rgb(190, 30, 124);
}
--*/

nav, footer {
  background-color: rgb(153, 59, 59);
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  background-image: url("../images/leather_3.jpg"); /*-- N.B. the ../ in the file/path --*/
  background-size: 35%;
  /*--color: #818181;--*/
}
 /*--Main Menu Styles--*/
nav ul {
  list-style: none;
  padding: 1em;
}

nav a.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  background-color: rgb(66, 62, 61);
}

nav a:link, nav a:visited {
  color: #818181;
  text-decoration: none;
  position: relative;
  left: 18em;
  top: .95em;
}
nav a:hover, nav a:active  {
  color: #818181;
  text-decoration: underline;
}
nav a.active {
  color: #818181;
}
/*-- Hero Unit Styles--*/
header {
  width: 1fr;
  /*--margin: 1em auto;--*/
  color:rgb(129, 29, 29);

  /*--
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  --*/

}

header img {
  width: 50%;
  padding: 0;
  margin: 0 auto;
}



.small {
  margin: 0;
  margin-left: 100fr;
  font-weight: 900;
  font-family: 'BebasNeue', sans-serif;
  font-variant-caps: all-small-caps;
  font-size: 200%;

  /*--
  position: relative;
  left: 2.5em;
  top: 1em;
  --*/

  transform: scale(2.75, 5);
  letter-spacing: -0.25rem;
  /*--color:rgb(153, 10, 10);--*/

  background-image: url("../images/leather_3.jpg");
  background-image: linear-gradient(180deg, rgb(212, 16, 16) 4%, rgb(90, 11, 11) 100%);
  -webkit-background-clip:text;
  -webkit-text-fill-color: transparent;

  /*--	background-image: linear-gradient(
    rgb(212, 61, 61) 10%, 
		rgb(185, 31, 31) 30%,
		rgb(131, 12, 12) 70%);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
  background-image: linear-gradient(
    to bottom, 
    rgb(212, 61, 61) 10%, 
		rgb(185, 31, 31) 30%,
		rgb(131, 12, 12) 70%);--*/
} 

header {
  background-color: aquamarine;
  display: inline;
  width: 500px
}


/*-- Article Styles--*/
article {
  width: 50%;
  font-size: 18px;
  line-height: 1.3;
  margin: auto;
  background: rgb(119, 117, 117);
}
article figure { /*-- Article Image--*/
  width: 25%;
  margin: 0 0 1.25em 1.25em;
  float: right;
  margin: 1em;
}
article figcaption {
  font-size: smaller;
  font-weight: 100;
  font-family: 'Lato', sans-serif;
  /*-- font-family: 'Arial', sans-serif; --*/
}
.pagination {
  margin: 2em auto;
  margin: row;
  display: flex;
  justify-content: space-evenly;
  width: 96%;
}
a.button {
  border: 2px solid #818181;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: #818181;
  border-radius: 200px;
  border-width: 3px;
  border-color: #818181;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
}
a.button:hover, a.button:active {
  border: 3px solid rgb(129, 214, 143);
  text-decoration: none;
  color: rgb(143, 54, 54);
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
